!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Alfred Workflow Package Manager"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %header.text--centered
      .row
        .column.small-12

          %nav
            - if current_user
              = link_to "New workflow", new_workflow_path
              |
              = link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              = link_to "Login", new_user_session_path
              |
              = link_to "Register", new_user_registration_path


          = link_to root_path do
            %h1#logo Alfred Workflow Package Manager
          %h2 search download &amp; manage your workflows straight from Alfred.
          %br
          = link_to "Download the package manager workflow", "https://github.com/adambutler/alfred-workflow-package-manager-workflow/raw/master/Package%20Manager.alfredworkflow", class: "button"

    .row
      .column.small-12
        = yield
        %br
        .row.text--centered.subtle
          .small-12.medium-6.medium-offset-3
            %hr
            %p
              %small
                Alfred Workflow Package Manager is an
                = link_to "Open Source Project", "http://github.com/adambutler/alfred-workflow-package-manager"
                by
                = link_to "Adam Butler", "http://lab.io"
        %br
    = javascript_include_tag "application"

